<style>.form-group .radio, .form-group .checkbox{margin-left:20px;display:inline-block;margin-right:30px;cursor:pointer;}</style>
<h4> 宫格信息管理 </h4>
<form class="form-horizontal col-sm-7" onsubmit="return checkUrl()" action="/home/Grid/subEdit/id/{$grid.id}/pageModel/{$pageModel}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="icon" class="col-sm-2 control-label">宫格图片</label>
        <div class="col-sm-5">
            <!--<img class="col-sm-12" src="{$Think.config.IMG_HOST}{$admin.portrait}" style="margin-bottom: 5px;">-->
            <div id="preview">
                <if condition="($grid['icon'] neq '')">
                    <img id="imghead" style="max-width: 100%; max-height: 150px;" border="0" src="{:U('/Uploads')}/{$grid.icon}">
                </if>
                <input type="hidden" name="pre_icon" value="{$grid.icon}">
            </div>
            <if condition="($grid['icon'] neq '')"><br></if>
            <div class="">
                <input type="file" name="icon" id="icon" title="选择一张图片" class="btn-primary" data-filename-placement="inside" style="position: absolute;opacity:0;" >
            </div>
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="page_id" class="col-sm-2 control-label">宫格名称</label>-->

        <!--<div class="col-sm-6">-->
            <!--<input name="page_id" type="text" class="form-control" id="page_id" required="true" value="{$grid.page_id}">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label for="url" class="col-sm-2 control-label">类型设置</label>

        <div class="col-sm-6">

            <label class="radio" for="radios-grid">
                <input type="radio" name="is_banner" id="radios-grid" value="0" <if condition="$grid.is_banner==0">checked</if>>
                设置为<span style="color:#d14432">宫格</span>
            </label>
            <label class="radio" for="radios-banner">
                <input type="radio" name="is_banner" id="radios-banner" value="1" <if condition="$grid.is_banner==1">checked</if>>
                设置为<span style="color:#0000cc">头图</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="url" class="col-sm-2 control-label" id="lab-text">宫格链接</label>

        <div class="col-sm-10">
            <if condition="null !== $grid.page_id && $grid.page_id !=''">
                <input name="page_id" type="hidden" class="form-control" id="page_id" required="true" value="{$grid.page_id}">
            <else/>
                <input name="page_id" type="hidden" class="form-control" id="page_id" required="true" value="{$pageModel}">
            </if>
            <input name="url" type="text" class="form-control" id="url" value="{$grid.url}"><!--<span class="label label-warning">完整都URL地址</span>-->
        </div>
    </div>
    <input name="rank" type="hidden" value="1">
    <input name="status" type="hidden" value="1">
    <!--<div class="form-group">
        <label for="desc" class="col-sm-2 control-label">宫格排序</label>

        <div class="col-sm-6">
            <input name="desc" type="number" class="form-control" id="desc" value="{$grid.desc}"><span class="label label-warning">只能填写数字</span>
        </div>
    </div>-->
    <!--<div class="form-group">
        <label for="status" class="col-sm-2 control-label">是否展示</label>

        <div class="col-sm-6">
            <input name="status" type="checkbox" class="form-control" id="status" value="1">
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-default">确定</button>
            <button type="reset" class="btn btn-default">重置</button>
        </div>
    </div>
</form>

<script>
    var isCheck=true;
    function checkUrl(){
        if( !isCheck ){
            return true;
        }
        var url = document.getElementById('url').value;
        if( url==='' || /https?:\/\/([\w-]+\.)+[\w-]+(\/[\w\-\.\?\\%\\&\\=]*)?/.test(url) ){
            return true;
        }else{
            alert('链接格式不正确');
            return false;
        }
    }

    function changeBannerSelect(){

    }

    document.getElementById('radios-grid').onchange=function(e){
        if(this.checked){
            document.getElementById('lab-text').innerHTML = '宫格链接';
            isCheck=true;
        }
    }

    document.getElementById('radios-banner').onchange=function(e){
        if(this.checked){
            document.getElementById('lab-text').innerHTML = '头图标题';
            isCheck=false;
        }
    }
</script>


