<style>.form-group .radio, .form-group .checkbox{margin-left:20px;display:inline-block;margin-right:30px;cursor:pointer;}</style>
<h4>
    <if condition="$is_grid">宫格信息管理</if>
    <if condition="$is_news">信息流管理</if>
</h4>
<form class="form-horizontal col-sm-7" onsubmit="return checkUrl()" action="{:U('Home/Grid/subEdit')}?id={$grid.id}&pageModel={$pageModel}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="icon" class="col-sm-2 control-label">
            <if condition="$is_grid">宫格图片</if>
            <if condition="$is_news">信息流图</if>
        </label>
        <div class="col-sm-5">
            <div id="preview">
                <if condition="($grid['icon'] neq '')">
                    <img id="imghead" style="max-width: 100%; max-height: 150px;" border="0" src="{:U('/Uploads')}/{$grid.icon}">
                </if>
                <input type="hidden" name="pre_icon" value="{$grid.icon}">
            </div>
            <if condition="($grid['icon'] neq '')"><br></if>
            <div class="">
                <input type="file" name="icon" id="icon" title="选择一张图片" class="btn-primary" data-filename-placement="inside" style="position: absolute;opacity:0;" >
            </div>
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="page_id" class="col-sm-2 control-label">宫格名称</label>-->

        <!--<div class="col-sm-6">-->
            <!--<input name="page_id" type="text" class="form-control" id="page_id" required="true" value="{$grid.page_id}">-->
        <!--</div>-->
    <!--</div>-->

    <if condition="$is_news">
        <script type="text/html" id="title_input_tpl">
            <label for="title" class="col-sm-2 control-label">信息标题</label>
            <div class="col-sm-6">
                <input name="title" type="text" class="form-control" id="title" required="true" value="{$grid.title}">
            </div>
        </script>

        <div class="form-group" id="title_input">
            <label for="title" class="col-sm-2 control-label">信息标题</label>
            <div class="col-sm-6">
                <input name="title" type="text" class="form-control" id="title" required="true" value="{$grid.title}">
            </div>
        </div>
    </if>

    <div class="form-group">
        <label for="url" class="col-sm-2 control-label">类型设置</label>

        <div class="col-sm-6">

            <label class="radio" for="radios-grid">
                <input type="radio" name="is_banner" label-text="<if condition="$is_grid">宫格链接</if><if condition="$is_news">信息链接</if>" id="radios-grid" value="0" <if condition="$grid.is_banner==0">checked</if>>
                设置为<span style="color:#d14432">
                <if condition="$is_grid">宫格</if>
                <if condition="$is_news">信息流</if>
            </span>
            </label>
            <label class="radio" for="radios-banner">
                <input type="radio" name="is_banner" id="radios-banner" label-text="头图标题" value="1" <if condition="$grid.is_banner==1">checked</if>>
                设置为<span style="color:#0000cc">头图</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="url" class="col-sm-2 control-label" id="lab-text">
            <if condition="$is_grid">宫格链接</if>
            <if condition="$is_news">信息链接</if>
        </label>

        <div class="col-sm-10">
            <if condition="null !== $grid.page_id && $grid.page_id !=''">
                <input name="page_id" type="hidden" class="form-control" id="page_id" required="true" value="{$grid.page_id}">
            <else/>
                <input name="page_id" type="hidden" class="form-control" id="page_id" required="true" value="{$pageModel}">
            </if>
            <input name="url" type="text" class="form-control" id="url" value="{$grid.url}"><!--<span class="label label-warning">完整都URL地址</span>-->
        </div>
    </div>
    <input name="rank" type="hidden" value="1">
    <input name="status" type="hidden" value="1">
    <!--<div class="form-group">
        <label for="desc" class="col-sm-2 control-label">宫格排序</label>

        <div class="col-sm-6">
            <input name="desc" type="number" class="form-control" id="desc" value="{$grid.desc}"><span class="label label-warning">只能填写数字</span>
        </div>
    </div>-->
    <!--<div class="form-group">
        <label for="status" class="col-sm-2 control-label">是否展示</label>

        <div class="col-sm-6">
            <input name="status" type="checkbox" class="form-control" id="status" value="1">
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-default">确定</button>
            <button type="reset" class="btn btn-default">重置</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    var isCheck=true;
    function checkUrl(){
        if( !isCheck ){
            return true;
        }
        var url = $('#url').val();
        url = $.trim(url);
        if( url==='' || /https?:\/\/([\w-]+\.)+[\w-]+(\/[\w\-\.\?\\%\\&\\=]*)?/.test(url) ){
            return true;
        }else{
            alert('链接格式不正确');
            return false;
        }
    }

    $('#radios-grid').change(function(e){
        if($(this).is(':checked')){
            $('#lab-text').html( $(this).attr('label-text') );
            $('#title_input').show().html( $('#title_input_tpl').html() );
            isCheck=true;
        }
    })

    $('#radios-banner').change(function(e){
        if($(this).is(':checked')){
            $('#lab-text').html( $(this).attr('label-text') );
            $('#title_input').hide().html('');
            isCheck=false;
        }
    })
</script>


