<style>
    .news-id{width: 70px;}
    .news-sta{width: 60px;}
    .news-add, .news-pub{width: 90px;}
    .news-control, .news-auth{width: 100px;}
    .table{clear: both;}
    .kol{cursor: pointer; margin-left: 3px;}
    #view-body img{max-width: 100%;}
    .text-muted{word-break: break-all;}
    .news-title{width: 100px;}
</style>

<link rel="stylesheet" href="__PUBLIC__/css/jquery.autocomplete.css" >

<div class="row-fluid">
    <h4 style="display:inline;margin-right:20px;">{$pageModelInfo.title} - {$pageModelInfo.type}</h4>
    <strong class="glyphicon glyphicon-wrench" style="line-height: 34px;display: inline-block;height: 34px;font-weight:bolder;">操作：</strong><a href="{:U('Home/Grid/edit')}?pageModel={$pageModel}" class="btn btn-primary">添加（{$pageModelInfo.type}／头图）</a>
</div><p></p>

<table class="table table-hover" border="0" style="border:1px solid #dddddd">
    <thead>
    <tr>
        <th class="text-left news-id">ID</th>
        <th class="text-left news-title">头图图片</th>
        <th class="text-left text-muted">头图标题</th>
        <th class="text-left news-control">操作</th>
    </tr>
    </thead>
    <tbody>
        <if condition="$banner">
        <tr>
            <td class="text-left">{$banner.id}</td>
            <td class="text-left">
                <a target="_blank" href="{:U('/Uploads')}/{$banner.icon}">
                    <img width="80" height="80" src="{:U('/Uploads')}/{$banner.icon}">
                </a>
            </td>
            <td class="text-left text-muted">{$banner.url}</td>
            <td class="text-left">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  操作
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{:U('Home/Grid/delete')}?pageModel={$pageModel}&id={$banner.id}" onclick="return confirm('确定删除吗?')">删除</a></li>
                        <li><a href="{:U('Home/Grid/edit')}?pageModel={$pageModel}&id={$banner.id}">修改</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </if>
    </tbody>
</table>


<table class="table table-hover" border="0" style="border:1px solid #dddddd">
    <thead>
    <tr>
        <if condition="$is_gongge">
            <th class="text-left news-id">ID</th>
            <th class="text-left news-title">宫格图片</th>
            <th class="text-left text-muted">宫格链接</th>
            <th class="text-left news-pub"></th>
            <th class="text-left news-control">操作</th>
        </if>
        <if condition="$is_liebiao">
            <th class="text-left news-id">ID</th>
            <th class="text-left news-title">信息图片</th>
            <th class="text-left text-muted">信息标题</th>
            <th class="text-left news-pub">发布时间</th>
            <th class="text-left news-control">操作</th>
        </if>
    </tr>
    </thead>
    <tbody>
    <foreach name="list" item="v">
        <tr>
            <td class="text-left">{$v.id}</td>
            <td class="text-left">
                <a target="_blank" href="{:U('/Uploads')}/{$v.icon}">
                    <img width="80" height="80" src="{:U('/Uploads')}/{$v.icon}">
                </a>
            </td>
            <td class="text-left text-muted">
                <a href="{$v.url}" target="_blank">
                    <if condition="$is_liebiao">{$v.title}</if>
                    <if condition="$is_gongge">{$v.url}</if>
                </a>
            </td>
            <td class="text-left news-pub">
                {$v.publish_time}
            </td>
            <td class="text-left">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  操作
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{:U('Home/Grid/delete')}?pageModel={$pageModel}&id={$v.id}" onclick="return confirm('确定删除吗?')">删除</a></li>
                        <li><a href="{:U('Home/Grid/edit')}?pageModel={$pageModel}&id={$v.id}">修改</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </foreach>
    </tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="view-title">Modal title</h4>
            </div>
            <div class="modal-body" id="view-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<!--<a href="/Home/News/newsContent/id/{$v.id}">{$v.title}</a>-->
<!--<a target="_blank" href="/Html/{$v.add_time|substr=0,4}/{$v.add_time|substr=5,2}/{$v.id}.html">{$v.title}</a>-->
<!--<a href="/Home/News/newsDel/id/{$v['id']}" onclick="return confirm('确定删除吗?')">删除</a>&nbsp;-->
{$page}

<script src="__PUBLIC__/js/jquery.autocomplete.min.js"></script>
<script>

</script>
