<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{$title}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,scale=0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <style>
        html{font-size: 16px;font-family: microsoft yahei, "黑体", Arial, Simsun, "Arial Unicode MS", Mingliu, Helvetica;background:#f7ac00;}
        body{padding: 0;max-width: 640px;margin: 0px auto;}
        .hidden{display: none;}
        .list-head{width: 100%;height:210px;margin-bottom: 10px;}
        .clear{clear: both;width: 0px; height: 0px;}
        /*列表*/
        #liebiao .list{border-top: 3px solid #fff;}
        #liebiao .list:nth-child(1){border: none;}
        .liebiao-con{padding: 0 10px;position: relative;}
        .liebiao-odd{}
        .wrapper .list-con:nth-child(odd) .liebiao-con{
            background:#f9c54d;
        }
        .list-img{width: 3rem;height: 3rem;border-radius: 5px;position: absolute;top: 50%;-webkit-transform: translate(0,-50%)}
        .list-title{width: 11rem;min-height:2.4rem;font-size: .7rem; margin: .5rem 0 .5rem 3.5rem;padding:.3rem 1rem .3rem 0;background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAwCAMAAADXYfGSAAAAn1BMVEVMaXH///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8Qg5o/AAAANHRSTlMAPJibBgI155o56Onm/AdNeqVC9pKd8D24D151vcceleXjwjH0+L++sfuy29r6O5k0AZeWVgNvpwAAALpJREFUeNrt1McOwjAQRVEHO/akkELvvfcy//9tWCLLebBHZHuVoziSn1oW2zI3SnyKxWr+iEKxbdbMjqz4Zjlj5pgCqeVT56OrSWwWUMyIzSw5yIZRDbOqYrXEmjeb6D/7lVWYbXf7Ipv62OkNJhLbOp2Z66OhxDZ2TfZxLLYDat487mXTWA2/JdAJOAM4ewXCf1aB2hoMhgCMCYP0AyC603gLwIakHkTbc72gzUrpZtDWPaO7lD5t5Aszgyg/cU55cwAAAABJRU5ErkJggg==") no-repeat 11.1rem center; background-size: 0.7rem auto;color: #fff;font-weight: 100;}
        @media screen and (min-width:640px){.list-img{width: 8rem;height: 8rem;}.list-title{width: 26rem;height: 5rem;margin-top: 2.5rem;}.list-btn{margin-top:3rem;width: 1rem;margin-left: 0px;}.list-head{height: 420px;} }
        .next-page{text-align: center;color: #fff;padding: 5px;font-size:15px;}
        .list-head{position:relative;}
        .list-head-title{position: absolute; bottom: 0; width: 100%; background-color: rgba(0,0,0,0.2); color: #fff; font-size:20px; padding: 10px; box-sizing: border-box;}
    </style>
</head>
<body>

<div class="wrapper" id="liebiao">
    <if condition="$banner neq '' ">
        <div class="list-head" style="background: url({:U('/Uploads')}/{$banner.icon}) center;background-size: cover;">
            <if condition="$banner['url'] neq '' ">
                <div class="list-head-title">{$banner.url}</div>
            </if>
        </div>
    </if>

    <foreach name="data" item="vo">
        <div class="list-con">
            <div class="list" data-href="{$vo.url}">
                <div class="liebiao-con liebiao-odd">
                    <div class="list-img list-hang" style="background: url({:U('/Uploads')}/{$vo.icon}) center;background-size: cover;"></div>
                    <div class="list-title list-hang">
                        {$vo.title}
                    </div>
                </div>
            </div>
        </div>
    </foreach>

</div>
<div class="next-page" onclick="loadPage()">下一页</div>
</body>
<script type="text/javascript">
    var $$ = {};
    $$.ajax = function(url, data, callback, method, errorCallback) {
        var xhr = window.XMLHttpRequest ? new window.XMLHttpRequest : new ActiveXObject("Microsoft.XMLHTTP");
        var sdata = data || '';
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    callback.call(null, xhr.responseText);
                } else if (xhr.status == 0) {
                    if (!errorCallback) return false;
                    errorCallback.call(null, xhr.responseText);
                }
            }
        };
        xhr.open(method, url, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');
        xhr.send(sdata);
    };
    $$.get = function(url, data, callback, errorCallback) {
        $$.ajax(url, data, callback, "GET", errorCallback);
    };
    $$.post = function(url, data, callback, errorCallback) {
        $$.ajax(url, data, callback, "POST", errorCallback);
    };

    (function(doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function() {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    document.querySelector('.wrapper').addEventListener('click',function(e){
        var href = e.target.getAttribute('data-href');
        if( href ){
            location.href = href;
            e.preventDefault();
            e.stopPropagation();
        }
    });


    var page=2;
    var isLock=false;
    function loadPage(){
        if( isLock ){
            return false;
        }
        isLock = true;
        $$.get("{:U('Home/Grid/getPageList')}?pageModel={$page_id}&page="+page,null,function(data){
            data = JSON.parse(data);
            if( data ){
                page++;
                var html = '';
                for(var i=0;i<data.length;i++){
                    html = html +
                        '<div class="list" data-href="' + data[i].url +'">\
                            <div class="liebiao-con liebiao-odd">\
                                <div class="list-img list-hang" style="background: url({:U("/Uploads")}/' + data[i].icon + ') center;background-size: cover;"></div>\
                                <div class="list-title list-hang">'
                                    +data[i].title+
                                '</div>\
                            </div>\
                        </div>';
                }
                var el = document.createElement('div');
                el.className="list-con";
                el.innerHTML=html;
                document.querySelector('#liebiao').appendChild(el);
            }else{
                document.querySelector('.next-page').remove();
            }
            setTimeout(function(){
                isLock = false;
            },2000)
        },function(data){
            isLock = false;
        });
    }
</script>
</html>