<div class="container-fluid">

    <style>
        .node .row {
            padding: 10px !important;
            line-height: 20px;
            margin: 0px
        }

        .level3 .label {
            padding: 10px;
            margin: 5px;
            display: inline-block;
            line-height: 15px;
            font-weight: bold;
        }

        .label-info {
            font-weight: 100;
        }

        .panel-body {
            padding: 0px;
        }
        .node .glyphicon:before{margin-right: 5px;}

        /*.node a{color: #ff4f10;}*/
    </style>

    <h4>导航列表管理</h4>

    <div class="row panel panel-default node">
        <div class="panel-body">
            <div class="row bg-success ">
                <div class="col-sm-12"> <strong>汇文化</strong></div>
            </div>
            <div class="row level3">
                <div class="col-sm-12">
                    <span class="label label-info glyphicon glyphicon-th-large">企业介绍 [<a href="{:U('Home/Grid/gridList')}/pageModel/qiyejieshao">修改</a>&nbsp;<a href="{:U('{:U('/Html')}')}/qiyejieshao.html" target="_blank">浏览</a>]</span>
                    <span class="label label-info glyphicon glyphicon-th-large">企业文化 [<a href="{:U('Home/Grid/gridList')}/pageModel/wenhua" >修改</a>&nbsp;<a href="{:U('{:U('/Html')}')}/wenhua.html" target="_blank">浏览</a>]</span>
                    <span class="label label-info glyphicon glyphicon-th-large">社会责任 [<a href="{:U('Home/Grid/gridList')}/pageModel/zeren" >修改</a>&nbsp;<a href="{:U('/Html')}/zeren.html" target="_blank">浏览</a>]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">员工活动 [<a href="{:U('Home/Grid/gridList')}/pageModel/huodong" >修改</a>&nbsp;<a href="{:U('/Html')}/huodong.html" target="_blank">浏览</a>]</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel panel-default node">
        <div class="panel-body">
            <div class="row bg-success ">
                <div class="col-sm-12"> <strong>汇视野</strong></div>
            </div>
            <div class="row level3">
                <div class="col-sm-12">
                    <span class="label label-info glyphicon glyphicon-th-list">最新动态 [<a href="{:U('Home/Grid/gridList')}/pageModel/dongtai" >修改</a>&nbsp;<a href="{:U('/Html')}/dongtai.html" target="_blank">浏览</a>]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">媒体报道 [<a href="{:U('Home/Grid/gridList')}/pageModel/baodao" >修改</a>&nbsp;<a href="{:U('/Html')}/baodao.html" target="_blank">浏览</a>]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">行业观察 [<a href="{:U('Home/Grid/gridList')}/pageModel/guancha" >修改</a>&nbsp;<a href="{:U('/Html')}/guancha.html" target="_blank">浏览</a>]</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel panel-default node">
        <div class="panel-body">
            <div class="row bg-success ">
                <div class="col-sm-12"> <strong>汇精英</strong></div>
            </div>
            <div class="row level3">
                <div class="col-sm-12">
                    <span class="label label-info glyphicon glyphicon-th-large">投资我们 [<a href="{:U('Home/Grid/gridList')}/pageModel/touzi" >修改</a>&nbsp;<a href="{:U('/Html')}/touzi.html" target="_blank">浏览</a>]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">企业财报 [<a href="{:U('Home/Grid/gridList')}/pageModel/caibao" >修改</a>&nbsp;<a href="{:U('/Html')}/caibao.html" target="_blank">浏览</a>]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">企业公告 [<a href="{:U('Home/Grid/gridList')}/pageModel/gonggao" >修改</a>&nbsp;<a href="{:U('/Html')}/gonggao.html" target="_blank">浏览</a>]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">企业研报 [<a href="{:U('Home/Grid/gridList')}/pageModel/yanbao" >修改</a>&nbsp;<a href="{:U('/Html')}/yanbao.html" target="_blank">浏览</a>]</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel panel-default node">
        <div class="panel-body">
            <div class="row bg-success ">
                <div class="col-sm-12"> <strong>备用</strong></div>
            </div>
            <div class="row level3">
                <div class="col-sm-12">
                    <span class="label label-info glyphicon glyphicon-th-large">宫格信息 [<a href="{:U('Home/Grid/gridList')}/pageModel/channel" >修改</a>&nbsp;<a href="{:U('/Html')}/channel.html" target="_blank">浏览</a>]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">列表信息 [<a href="{:U('Home/Grid/gridList')}/pageModel/list" >修改</a>&nbsp;<a href="{:U('/Html')}/list.html" target="_blank">浏览</a>]</span>

                </div>
            </div>
        </div>
    </div>


</div>