<div class="container-fluid">

    <style>
        .node .row {
            padding: 10px !important;
            line-height: 20px;
            margin: 0px
        }

        .level3 .label {
            padding: 10px;
            margin: 5px;
            display: inline-block;
        }

        .label-info {
            font-weight: 100;
        }

        .panel-body {
            padding: 0px;
        }

        /*.node a{color: #ff4f10;}*/
    </style>

    <h4>导航列表管理</h4>

    </p>

    <div class="row panel panel-default node">
        <div class="panel-body">
            <div class="row bg-success ">
                <div class="col-sm-12"> <strong>汇文化</strong></div>
            </div>
            <div class="row level3">
                <div class="col-sm-12">
                    <span class="label label-info">
                        企业介绍 &nbsp;[&nbsp;<a href="" >修改</a>&nbsp;<a href="/Html/jieshao1.html" target="_blank">浏览</a>&nbsp;]
                    </span>
                    <span class="label label-info">
                        企业文化 &nbsp;[&nbsp;<a href="" >修改</a>&nbsp;<a href="/Html/wenhua.html" target="_blank">浏览</a>&nbsp;]
                    </span>
                    <span class="label label-info">
                        社会责任 &nbsp;[&nbsp;<a href="" >修改</a>&nbsp;<a href="/Html/zeren.html" target="_blank">浏览</a>&nbsp;]
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel panel-default node">
        <div class="panel-body">
            <div class="row bg-success ">
                <div class="col-sm-12"> <strong>汇视野</strong></div>
            </div>
            <div class="row level3">
                <div class="col-sm-12">
                    <span class="label label-info">
                        公司介绍 &nbsp;[&nbsp;<a href="" >修改</a>&nbsp;<a href="/Html/jieshao2.html" target="_blank">浏览</a>&nbsp;]
                    </span>
                    <span class="label label-info">
                        店面分布 &nbsp;[&nbsp;<a href="" >修改</a>&nbsp;<a href="/Html/fenbu.html" target="_blank">浏览</a>&nbsp;]
                    </span>
                    <span class="label label-info">
                        经销品牌 &nbsp;[&nbsp;<a href="" >修改</a>&nbsp;<a href="/Html/pinpai.html" target="_blank">浏览</a>&nbsp;]
                    </span>
                    <span class="label label-info">
                        一站式服务 &nbsp;[&nbsp;<a href="" >修改</a>&nbsp;<a href="/Html/fuwu.html" target="_blank">浏览</a>&nbsp;]
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel panel-default node">
        <div class="panel-body">
            <div class="row bg-success ">
                <div class="col-sm-12"> <strong>汇精英</strong></div>
            </div>
            <div class="row level3">
                <div class="col-sm-12">
                    <span class="label label-info">
                        投资我们 &nbsp;[&nbsp;<a href="" >修改</a>&nbsp;<a href="/Html/touzi.html" target="_blank">浏览</a>&nbsp;]
                    </span>
                </div>
            </div>
        </div>
    </div>


</div>˚