<div class="container-fluid">

    <style>
        .node .row {
            padding: 10px !important;
            line-height: 20px;
            margin: 0px
        }

        .level3 .label {
            padding: 10px;
            margin: 5px;
            display: inline-block;
        }

        .label-info {
            font-weight: 100;
        }

        .panel-body {
            padding: 0px;
        }

        /*.node a{color: #ff4f10;}*/
    </style>

    <h4>导航列表管理</h4>

    <div class="row panel panel-default node">
        <div class="panel-body">
            <div class="row bg-success ">
                <div class="col-sm-12"> <strong>汇文化</strong></div>
            </div>
            <div class="row level3">
                <div class="col-sm-12">
                    <span class="label label-info glyphicon glyphicon-th-large">企业介绍 &nbsp;[<a href="/Home/Grid/gridList/pageModel/qiyejieshao">修改</a>]</span>
                    <span class="label label-info glyphicon glyphicon-th-large">企业文化 &nbsp;[&nbsp;<a href="/Home/Grid/gridList/pageModel/wenhua" >修改</a>&nbsp;<a href="/Html/wenhua.html" target="_blank">浏览</a>&nbsp;]</span>
                    <span class="label label-info glyphicon glyphicon-th-large">社会责任 &nbsp;[&nbsp;<a href="/Home/Grid/gridList/pageModel/zeren" >修改</a>&nbsp;<a href="/Html/zeren.html" target="_blank">浏览</a>&nbsp;]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">员工活动 &nbsp;[&nbsp;<a href="/Home/Grid/gridList/pageModel/huodong" >修改</a>&nbsp;<a href="/Html/huodong.html" target="_blank">浏览</a>&nbsp;]</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel panel-default node">
        <div class="panel-body">
            <div class="row bg-success ">
                <div class="col-sm-12"> <strong>汇视野</strong></div>
            </div>
            <div class="row level3">
                <div class="col-sm-12">
                    <span class="label label-info glyphicon glyphicon-th-list">最新动态 &nbsp;[&nbsp;<a href="/Home/Grid/gridList/pageModel/dongtai" >修改</a>&nbsp;<a href="/Html/dongtai.html" target="_blank">浏览</a>&nbsp;]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">媒体报道 &nbsp;[&nbsp;<a href="/Home/Grid/gridList/pageModel/baodao" >修改</a>&nbsp;<a href="/Html/baodao.html" target="_blank">浏览</a>&nbsp;]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">行业观察 &nbsp;[&nbsp;<a href="/Home/Grid/gridList/pageModel/guancha" >修改</a>&nbsp;<a href="/Html/guancha.html" target="_blank">浏览</a>&nbsp;]</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel panel-default node">
        <div class="panel-body">
            <div class="row bg-success ">
                <div class="col-sm-12"> <strong>汇精英</strong></div>
            </div>
            <div class="row level3">
                <div class="col-sm-12">
                    <span class="label label-info glyphicon glyphicon-th-large">投资我们 &nbsp;[&nbsp;<a href="/Home/Grid/gridList/pageModel/touzi" >修改</a>&nbsp;<a href="/Html/touzi.html" target="_blank">浏览</a>&nbsp;]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">企业财报 &nbsp;[&nbsp;<a href="/Home/Grid/gridList/pageModel/caibao" >修改</a>&nbsp;<a href="/Html/caibao.html" target="_blank">浏览</a>&nbsp;]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">企业公告 &nbsp;[&nbsp;<a href="/Home/Grid/gridList/pageModel/gonggao" >修改</a>&nbsp;<a href="/Html/gonggao.html" target="_blank">浏览</a>&nbsp;]</span>
                    <span class="label label-info glyphicon glyphicon-th-list">企业研报 &nbsp;[&nbsp;<a href="/Home/Grid/gridList/pageModel/yanbao" >修改</a>&nbsp;<a href="/Html/yanbao.html" target="_blank">浏览</a>&nbsp;]</span>
                </div>
            </div>
        </div>
    </div>


</div>