<div class="header" style="text-align: end;">
    <div class="row">
        <!--<div class="col-xs-2 logo_pic">
            <img src="/Public/img/logo_new.png" height="70%" width="70%"/>
        </div>-->
        <div class="col-xs-3">
            <h3 class="logo" style="text-align: left;
            padding-left:19px; color:ghostwhite;">
                后台管理系统<!--<sub class="badge">CMS</sub>-->
            </h3>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-xs-2" style="
        text-align: inherit;
        height: 100%;
        padding-bottom: 0;
        line-height: 10px;
        padding-top: 62px;">
            <div style="color:#FFFFFF">
            </div>

        </div>-->
        <div class="col-xs-7 col-xs-offset-2" style="text-align: inherit;height: 100%;padding-bottom: 0;line-height: 10px;padding-top: 11px;padding-left: 37px;">
            <ul class="nav nav-pills">
                <li class="Index">
                    <a href="/home/index/index">我的面板</a>
                </li>
                <li class="News Photo Comment CategoryTop Gif Topic Imgtxt">
                    <a href="/Home/Grid/index">宫格管理</a>
                </li>
                <li class="Member">
                    <a href="/home/member/memberlist">信息流管理</a>
                </li>
                <!--<li class="Admin Role Node Log Init Category Tag">-->
                    <!--<a href="/Home/Admin/adminList/status/1">设置</a>-->
                <!--</li>-->
                <!--<li class="Vote VoteGroup Guess Music Video Attitude Expression">-->
                    <!--<a href="/home/vote/votelist">插件</a>-->
                <!--</li>-->

            </ul>
        </div>
        <div class="col-xs-3 text-right login-msg">
            <ul class="nav navbar-right account" style="color: #efefeb;">
                欢迎您，<a href="/home/index/index" style="color: #efefeb"><b>{$Think.session.nickname}</b></a>
                &nbsp;
                <a href="/home/index/logout" style="color:#efefeb">退出</a>

            <!--<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    用户名<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">修改密码</a></li>
                    <li class="divider"></li>
                    <li><a href="">退出</a></li>
                </ul>
            </li>-->

            </ul>
        </div>
    </div>
</div>
