<h4> 修改管理员信息 </h4>
<form class="form-horizontal col-sm-7" action="/home/Index/adminEdit/id/{$admin['admin_id']}" method="post"  enctype="multipart/form-data">
    <div class="form-group">
        <label class="col-sm-2 control-label">头像</label>
        <div class="col-sm-5">
            <!--<img class="col-sm-12" src="{$Think.config.IMG_HOST}{$admin.portrait}" style="margin-bottom: 5px;">-->
            <div id="preview">
                <img id="imghead" style="max-width: 100%; max-height: 150px;" border=0 src="{$Think.config.IMG_HOST}{$admin.portrait}">
            </div><br>
            <div class="">
                <input type="file" name="file" title="选择一张图片" class="btn-primary" data-filename-placement="inside" style="position: absolute;opacity:0;" >
            </div>

        </div>

    </div>
    <div class="form-group">
        <label for="role_name" class="col-sm-2 control-label">姓名</label>

        <div class="col-sm-6">
            <input name="name" type="text" class="form-control" id="role_name" required="true" value="{$admin.name}">
        </div>
    </div>
    <div class="form-group">
        <label for="nickname" class="col-sm-2 control-label">用户名</label>

        <div class="col-sm-6">
            <input name="nickname" type="text" class="form-control" id="nickname" value="{$admin.nickname}"><span class="label label-warning">登录名 & 前台显示名</span>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码</label>

        <div class="col-sm-6">
            <input name="password" type="text" class="form-control" id="password"><span class="label label-warning">不作修改置空</span>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">邮箱</label>

        <div class="col-sm-6">
            <input name="email" type="email" class="form-control" id="email" value="{$admin.email}">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">描述</label>

        <div class="col-sm-9">
            <textarea name="description" maxlength="110" rows="4" type="text" id="description" class="form-control" >{$admin.description}</textarea>
            <span class="label label-warning">字数限制110</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-default">确定</button>
        </div>
    </div>
</form>
<js href="__PUBLIC__/js/preview_img.js" />


