<!DOCTYPE html>
<html style="min-width: 1200px !important;">
<head lang="en">
    <meta charset="UTF-8">
    <title>广汇汽车微信公众账号后台管理</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/juzi_style.css">
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
    <script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>

<include file="Public:header"/>

<div class="container-fluid">

    <div class="main row">
        <div class="left-box col-xs-2">
            <!--{$slider}-->
            <dl class="menu"><dt><span class="glyphicon glyphicon-th-large"></span> <strong>信息管理</strong></dt><dd class="Index Admin"> <a href="{:U('Home/Index/index')}">我的面板</a></dd><dd class=" Pages"> <a href="{:U('Home/Pages/pagesList')}">页面管理</a></dd></dl>

        </div>

        <div class="main-box col-xs-10">
            <div class="container-fluid">

                {__CONTENT__}

            </div>

        </div>
    </div>
</div>

<include file="Public:footer"/>
<script>

    var controller = "{$controller}";
    var sidebar = "{$sidebar}";
    $(function(){
        //导航点击变色的结构
        if(sidebar=='Public:sidebar'){
            $('.Index').addClass('active');
        }else{
            //sidebar的样式
            $('.'+controller).addClass('active');
        }

    })
</script>



</body>
</html>